@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    color: #222;
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.btn-primary {
    background-color: #2e629e;
    border: 1px solid #2e629e;
}
.btn-primary:hover {
    background-color: #244b79;
    border: 1px solid #244b79;
}

.btn-outline-secondary {
    color: #2e629e;
    border: 2px solid #2e629e;
} 
.btn-outline-secondary:hover {
    color: white;
    background-color: #2e629e;
    border: 2px solid #2e629e;
}

a {
    color: #2e629e;
}
a:hover {
    color: #244b79;
}

.navbar-nav li:not(:last-child) {
    padding-right: 16px;
}
.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.navbar .container, footer .container  {
    max-width: 1200px;
    padding: 0 16px;
}

.wrapper {
    /* full height - navbar - footer - margin-bottom */
    min-height: calc(100vh - 56px - 51px - 6em + 16px);
    max-width: 1200px;
    margin-top: calc(3em - 16px);
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid .row.spaced {
    margin-bottom: 3em;
}

.banner {
    text-align: center;
}
.banner img {
    width: 180px;
    height: 180px;
    border-radius: 90px;
    margin-bottom: 1em;

    -moz-box-shadow:    0 0 4px 1px rgb(196, 196, 196);
    -webkit-box-shadow: 0 0 4px 1px rgb(196, 196, 196);
    box-shadow:         0 0 4px 1px rgb(196, 196, 196);
}
.banner p {
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
}

.jumbotron {
    background-color: rgb(245, 245, 245);
    padding: 2rem 2em;
}

.container-fluid .row.spaced {
    margin-top: 2em;
    margin-bottom: 2em;
}

.row div {
    padding: 1em 16px;
}

.centered {
    padding: 0 !important;
    display: flex;
}

.centered div {
    margin: auto 16px;
}

.header-paragraph {
    width: 90%;
    margin: 0 auto;
}
.header-paragraph div:first-child {
    padding-bottom: 0;
}

footer {
    background-color: #494949;
    color: #d5d5d5;
}
footer h5 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1em;
    font-weight: 500;
    margin: auto 0;
}
footer a {
    color: #d5d5d5;
}
footer a:hover {
    color: white;
}

.card > a {
    text-align: center;
}
.card img {
    max-width: 50%;
    margin-bottom: 16px;
}
.gif {
    -moz-box-shadow:    0 0 4px 1px rgb(196, 196, 196);
    -webkit-box-shadow: 0 0 4px 1px rgb(196, 196, 196);
    box-shadow:         0 0 4px 1px rgb(196, 196, 196);
}

.app-feature img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

.app-feature .double-image {
    text-align: center;
}

.app-feature .double-image img {
    max-width: 40%;
    display: inline-block;
}

.app-feature .double-image img:first-child {
    margin-right: 24px;
}

.app-feature-design img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.show-md {
    display: none !important;
}

.show-sm {
    display: none !important;
}

/*---Media Queries --*/
/* Extra Large devices (large desktops) */
@media (max-width: 1200px) {
    .banner p {
        max-width: 70%;
    }
    .navbar .container  {
        padding: 0;
    }
}

/* Large devices (desktops) */
@media (max-width: 992px) { 
    .banner p {
        max-width: 80%;
    }
    .card img {
        max-width: 60%;
    }
    .app-feature img {
        max-width: 80%;
    }
}

/* Medium devices (tablets) */
@media (max-width: 768px) {
    .banner p {
        max-width: 90%;
    }
    .card img {
        max-width: 40%;
    }
    .app-feature img {
        max-width: 80%;
    }
    .show-md {
        display: block !important;
    }
    .hide-md {
        display: none !important;
    }
 }

/* Small devices (phones) */
@media (max-width: 576px) {
    .banner p {
        max-width: 80%;
    }
    .card img {
        max-width: 60%;
    }
    .app-feature img {
        max-width: 40%;
    }
    .show-sm {
        display: block !important;
    }
    .hide-sm {
        display: none !important;
    }
}

/* Small devices (phones) */
@media (min-width: 0px) {}