@import url('https://fonts.googleapis.com/css?family=Roboto Slab:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #222;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 600;
}

.btn-primary {
    background-color: #2e629e;
    border: 1px solid #2e629e;
}
.btn-primary:hover {
    background-color: #244b79;
    border: 1px solid #244b79;
}

.btn-outline-secondary {
    color: #2e629e;
    border: 2px solid #2e629e;
} 
.btn-outline-secondary:hover {
    color: white;
    background-color: #2e629e;
    border: 2px solid #2e629e;
}

a {
    color: #2e629e;
}
a:hover {
    color: #244b79;
}

.navbar-nav li:not(:last-child) {
    padding-right: 16px;
}
.navbar-brand {
    font-family: 'Roboto Slab', sans-serif;
}
.navbar .container, footer .container  {
    max-width: 1200px;
    padding: 0 16px;
}

.wrapper {
    /* full height - navbar - footer - margin-bottom */
    min-height: calc(100vh - 56px - 60px - 3em);
    max-width: 1200px;
    margin-top: calc(3em - 16px);
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid .row.spaced {
    margin-bottom: 3em;
}

.jumbotron {
    padding: 2rem 2em;
}

.links {
    padding: 0 !important;
}

.row div {
    padding: 1em 16px;
}

.centered {
    padding: 0 !important;
    display: flex;
}

.centered a, .centered div {
    margin: auto;
}

.header-paragraph {
    width: 90%;
    margin: 0 auto;
}
.header-paragraph div:first-child {
    padding-bottom: 0;
}

footer {
    background-color: #494949;
    color: #d5d5d5;
}
footer h5 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1em;
    font-weight: 500;
    margin: auto 0;
}
footer a {
    color: #d5d5d5;
}
footer a:hover {
    color: white;
}

div.app-feature {
    max-height: 600px !important;
}
img.app-feature {
    max-width: 100%;
    max-height: 600px !important;
}

.show-sm {
    display: none;
}

/*---Media Queries --*/
/* Extra Large devices (large desktops) */
@media (max-width: 1200px) {
    .navbar .container  {
        padding: 0;
    }
}

/* Large devices (desktops) */
@media (max-width: 992px) {
}

/* Medium devices (tablets) */
@media (max-width: 768px) {    
}

/* Small devices (phones) */
@media (max-width: 576px) {
    .show-sm {
        display: block;
    }
    .hide-sm {
        display: none;
    }
}

/* Small devices (phones) */
@media (min-width: 0px) {
}